body {
  background: #efefef;
}

section {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 150px;
}

.theme {
  &-brand-1 {
    $medium-button--font-size: 18px;
    $medium-button--border-radius: 100px;

    @import "./src/components/medium-button/medium-button.scss";
  }

  &-brand-2 {
    $medium-button--font-size: 14px;
    $medium-button--border-radius: 5px;

    @import "./src/components/medium-button/medium-button.scss";
  }

  &-brand-3 {
    $medium-button--font-size: 12px;
    $medium-button--border-radius: 10px;

    @import "./src/components/medium-button/medium-button.scss";

  }
}

